:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
    --Dark: #383840;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;
}

html {
    font-size: 63%;
    font-family: "Overpass", sans-serif;
    scroll-behavior: smooth;
}

form,
input,
textarea,
select,
button,
label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--VeryDarkBlue);
    color: var(--White);
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.5em;
    padding-bottom: 1.2em;
    width: 33em;
    height: 35em;
    border-radius: 1.8rem;
    background-color: var(--DarkBlue);
}

.card-star {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 4em;
    height: 4em;
    border-radius: 100%;
    background-color: var(--Dark);
}

.card-star img {
    width: 40%;
    object-fit: contain;
}

.card-text h2 {
    margin-bottom: 1em;
    line-height: 2.6rem;
    font-weight: 700;
    font-size: 2.8rem;
}

.card-text p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--LightGrey);
}

.card-request {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.card-request div,
.card-request input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 20em;
    font-size: 1.4rem;
    color: var(--White);
    background-color: var(--Dark);
    cursor: pointer;
}

.card-request label {
    position: absolute;
}

.card-request input:hover {
    color: var(--White);
    background-color: var(--LightGrey);
}

.card-request input:checked {
    background-color: var(--Orange);
    color: var(--White);
}

.card-button {
    display: flex;
    width: 100%;
    justify-content: center;
}

.button {
    width: 26.5em;
    height: 2.6em;
    background-color: var(--Orange);
    cursor: pointer;
    border-radius: 20em;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.button:hover {
    background-color: var(--White);
    color: var(--Orange);
}

.card-thanks {
    display: none;
    justify-content: space-evenly;
    align-items: center;
}

.card-thanks img {
    width: 14em;
}

.selected-message {
    display: flex;
    color: var(--Orange);
    background-color: var(--Dark);
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 2.5em;
    padding-top: 0.13rem;
    border-radius: 10em;
    font-size: 1.2rem;
}

.card-thanks-message h2 {
    text-align: center;
}

.card-thanks-message p {
    margin-top: -1.2em;
    font-size: 1, 25rem;
    text-align: center;
}