@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Press+Start+2P&family=Roboto+Mono:wght@500;700&family=Ubuntu+Mono:wght@400;700&family=VT323&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

ul > li {
  list-style: none;
}

body{
    margin: 0;
    background-color: hsl(216, 12%, 8%);
    font-family: "overpass";
    min-height: 100vh;
}

.icon-star{
    background-color: hsl(213, 19%, 18%);
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(90%, 600px);
    padding: 1rem;
    margin-inline: auto;
    text-align: center;
    background-color:aqua;
}

h2{
    color: white;
}

.card-body p, li{
    color: hsl(217, 12%, 63%);
}

.rating-form {
    display: grid;
    gap: 1em;
    padding: 1em;
    background-color: antiquewhite;
}

.rating-options {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 1rem;
}

.rating-options > input[type="radio"] {
    display: none;
}

.rating-options > label{
    display: grid;
    place-items: center;
    background-color: #fff;
    width: 30px;
    border: 1px solid;
    aspect-ratio: 1;
    border-radius: 50%;
}

.rating-options > label:hover,
.rating-options > label:hover ~ label,
.rating-options > input:checked ~ label {
  box-shadow: 2px 2px 5px black;
}


label span{
    display: block;
    margin: 0 auto;
}

button {
    background-color: hsl(25, 97%, 53%);
    padding: 10px;
    border: none;
    border-radius: 100vh;
    width: 100%;
}

h1{
    color: hsl(25,97%,53%);
    background-color:  hsl(213, 19%, 18%);
    padding: 5px;
    border-radius: 25px;
    font-size: 18px;
    margin: 15px auto;
}

#thankYouPage p{
    color: hsl(217, 12%, 63%);
}